
<!--
  This file is used to configure the various parameters relevant to groupby operator
  By Cheng
  maxSizePerFile is in size of MB.
-->

<SETTING>
    <!-- input restricts the format of input, namely the length of key and value string -->
	<input lenOfKeyStr="10" lenOfValueStr="20"/>
	<!-- output restricts the output parameters, namely, where to write, prefix of data file, and the max size -->
	<output valueFileDirStr="/var/tmp" valueFilePrefix="value_" maxSizePerFile="2"/>
	<!-- mem restricts the memory behaviors, namely the point where we check memory suage and where we 
	start to flush data to disk for getting more space-->
	<mem maxPerMemUsage="0.5" batchSizeTriggerMemCheck="1000"/>
</SETTING>
